<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<array>
			<string>元旦</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>10</key>
		<array>
			<string>气象节</string>
		</array>
		<key>14</key>
		<array>
			<string>情人节</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<array>
			<string>爱耳日</string>
		</array>
		<key>8</key>
		<array>
			<string>妇女节</string>
		</array>
		<key>12</key>
		<array>
			<string>植树节</string>
		</array>
		<key>14</key>
		<array>
			<string>国际警察</string>
		</array>
		<key>15</key>
		<array>
			<string>消费者权</string>
		</array>
		<key>23</key>
		<array>
			<string>气象日</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>1</key>
		<array>
			<string>愚人节</string>
		</array>
		<key>4</key>
		<array>
			<string>清明节</string>
		</array>
		<key>22</key>
		<array>
			<string>地球日</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>1</key>
		<array>
			<string>劳动节</string>
		</array>
		<key>4</key>
		<array>
			<string>青年节</string>
		</array>
		<key>12</key>
		<array>
			<string>护士节</string>
		</array>
		<key>15</key>
		<array>
			<string>国际家庭</string>
		</array>
		<key>19</key>
		<array>
			<string>中国旅游</string>
		</array>
		<key>31</key>
		<array>
			<string>无烟日</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>1</key>
		<array>
			<string>儿童节</string>
		</array>
		<key>5</key>
		<array>
			<string>环境日</string>
		</array>
		<key>6</key>
		<array>
			<string>爱眼日</string>
		</array>
		<key>26</key>
		<array>
			<string>反毒品日</string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>1</key>
		<array>
			<string>建党节</string>
			<string>香港回归纪念日</string>
		</array>
		<key>7</key>
		<array>
			<string>七七事变纪念日</string>
		</array>
		<key>11</key>
		<array>
			<string>中国航海日</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>1</key>
		<array>
			<string>建军节</string>
		</array>
		<key>15</key>
		<array>
			<string>日本投降</string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>3</key>
		<array>
			<string>抗日战争胜利纪念日</string>
		</array>
		<key>10</key>
		<array>
			<string>教师节</string>
		</array>
		<key>18</key>
		<array>
			<string>九一八纪念日</string>
		</array>
		<key>20</key>
		<array>
			<string>爱牙日</string>
		</array>
		<key>30</key>
		<array>
			<string>中国烈士纪念日</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>1</key>
		<array>
			<string>国庆节</string>
		</array>
		<key>10</key>
		<array>
			<string>辛亥革命</string>
		</array>
		<key>16</key>
		<array>
			<string>粮食日</string>
		</array>
		<key>31</key>
		<array>
			<string>万圣节</string>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>8</key>
		<array>
			<string>记者节</string>
		</array>
		<key>11</key>
		<array>
			<string>光棍节</string>
		</array>
		<key>17</key>
		<array>
			<string>大学生节</string>
		</array>
		<key>24</key>
		<array>
			<string>感恩节</string>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>25</key>
		<array>
			<string>圣诞节</string>
		</array>
		<key>24</key>
		<array>
			<string>平安夜</string>
		</array>
		<key>20</key>
		<array>
			<string>澳门回归</string>
		</array>
		<key>13</key>
		<array>
			<string>南京大屠杀</string>
		</array>
		<key>1</key>
		<array>
			<string>艾滋病日</string>
		</array>
		<key>10</key>
		<array>
			<string>人权日</string>
		</array>
	</dict>
</dict>
</plist>
